.content {
  padding: 60px 0;
  padding-left: 250px;
  padding-right: 90px;
  max-width: 1300px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: 25em;
}