.quizzes{
  padding: 60px 0;
  padding-left: 250px;
  // padding-right: 90px;
  max-width: 1300px;
  overflow: hidden;
  
  .buttons{
    margin-bottom: 20px;
  }

  .list-title{
    font-size: 30px;
    font-weight: bold;
    margin: 2rem 0;
  }

  .label{
    font-weight: 500;
    color: var(--purple);
    margin-bottom: 10px;
  }

  .select{
    width: 20%;
  }
}