.sidebar {
  background-color: var(--neutral);
  width: 12.5rem;
  height: 100vh;
  border-radius: 0 15px 15px 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 8.5rem;
  height: 100%;
}

ul {
  color: var(--purple);
  list-style: none;
  width: 100%;
}

li {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;

  .title {
    padding-left: 1rem;
  }

  &:hover {
    background-color: var(--purple);
    color: white;
  }

}