.sidebar{
  position: fixed;
  width: 12.5rem;
  height: 100vh;
  border-right: 1px solid #d2d2d2;

  .image{
    padding: 1rem;
  }

  .logout{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;

    button{
      width: 100%;
      border-radius: 0;
      padding: 1em 0;
    }
  }

  .user{
    font-size: 18px;
    padding: 1em;
    width: 100%;
    line-height: 25px;
    text-align: center;
    position: absolute;
    bottom: 56px;

    img{
      margin-right: 0.5em;
      height: 25px;
    }
  }

  ul{
    padding: 0;
    list-style: none;
    
    li{
      background: none;
      color: #67748e;
      transition: all 0.3s ease;
      margin: 0.5rem;

      .active,
      &:hover{
        background: var(--white);
        box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
        color: black;
        border-radius: 0.5rem;
      }

      > a{
        display: block;
        background: none;
        padding: 0 30px;
        line-height: 45px;
        height: 45px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease;
      }
    }
  }
}