/* Basic Styling */

:root {
  --black: #09090C;
  --white: #FFFFFF;
  --purple: #513CCC;
  --neutral: #B8BEC9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}